name: Deploy AzureML Pipeline

on:
  push:
    branches: [main]

jobs:
  deploy-pipeline:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install Azure CLI
        run: |
          curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash

      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Install Azure ML extension
        run: az extension add -n ml -y

      - name: Submit pipeline job
        run: |
          az ml job create \
            --file mlops/azureml/train/newpipeline.yml \
            --resource-group streaming_autovehicle_pricing_MLOPS \
            --workspace-name project_III_MLOPS
