name: Deploy AzureML Pipeline

on:
  push:
    branches: [main]

jobs:
  deploy-pipeline:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Azure CLI
        uses: azure/setup-azure@v3
        with:
          version: latest

      - name: Login to Azure
        run: az login --service-principal -u ${{ secrets.AZURE_CLIENT_ID }} -p ${{ secrets.AZURE_CLIENT_SECRET }} --tenant ${{ secrets.AZURE_TENANT_ID }}

      - name: Submit pipeline job
        run: |
          az ml job create \
            --file mlops/azureml/train/newpipeline.yml \
            --resource-group streaming_autovehicle_pricing_MLOPS \
            --workspace-name project_III_MLOPS
