$schema: https://azuremlschemas.azureedge.net/latest/pipelineJob.schema.json
type: pipeline
name: new-pipeline
display_name: New Pipeline (Local File)

inputs:
  training_data:
    type: uri_file
    path: ./src/data/used_cars_raw.csv   # локален CSV файл от репото

jobs:
  prep_job:
    type: command
    component: azureml:data_prep_component:1
    inputs:
      raw_data: ${{parent.inputs.training_data}}
    compute: azureml:lastprojectcompute
    environment: azureml:data-env:1
    outputs:
      cleaned_data:
        type: uri_folder

  train_job:
    type: command
    component: azureml:train_component:1
    inputs:
      training_data: ${{jobs.prep_job.outputs.cleaned_data}}
    compute: azureml:lastprojectcompute
    environment: azureml:train-env:3
    outputs:
      model_output:
        type: uri_folder

  eval_job:
    type: command
    component: azureml:eval_component:1
    inputs:
      model_input: ${{jobs.train_job.outputs.model_output}}
      test_data: ${{jobs.prep_job.outputs.cleaned_data}}
    compute: azureml:lastprojectcompute
    environment: azureml:eval-env:1
    outputs:
      eval_output:
        type: uri_folder

  reg_job:
    type: command
    component: azureml:register_component:1
    inputs:
      model_input: ${{jobs.train_job.outputs.model_output}}
    compute: azureml:lastprojectcompute
    environment: azureml:register-env:1
