name: read-yaml

on:
  workflow_call:
    inputs:
      file_name:
        required: true
        type: string
        default: mlops/azureml/train/config-infra-prod.yml
    outputs:
      resource_group:
        description: "Resource group name"
        value: ${{ jobs.read-yaml.outputs.resource_group }}
      aml_workspace:
        description: "AML workspace name"
        value: ${{ jobs.read-yaml.outputs.aml_workspace }}
    secrets:
      AZURE_CLIENT_ID:
        required: true
      AZURE_TENANT_ID:
        required: true
      AZURE_SUBSCRIPTION_ID:
        required: true

permissions:
  contents: read
  id-token: write

jobs:
  read-yaml:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    outputs:
      resource_group: ${{ steps.extract.outputs.resource_group }}
      aml_workspace: ${{ steps.extract.outputs.aml_workspace }}
    steps:
      - uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Update Azure CLI
        run: |
          sudo az upgrade --yes
          az --version
      
      - name: Install yq
        run: |
          sudo apt-get update
          sudo apt-get install -y yq
      
      - id: extract
        run: |
          set -euo pipefail
          content=$(cat ${{ inputs.file_name }})
          echo "resource_group=$(echo \"$content\" | yq '.resource_group')" >> $GITHUB_OUTPUT
          echo "aml_workspace=$(echo \"$content\" | yq '.aml_workspace')" >> $GITHUB_OUTPUT
