name: read-yaml

on:
  workflow_call:
    inputs:
      file_name:
        required: true
        type: string
        default: mlops/azureml/train/config-infra-prod.yml
    outputs:
      resource_group:
        description: "Resource group name"
        value: ${{ jobs.read-yaml.outputs.resource_group }}
      aml_workspace:
        description: "AML workspace name"
        value: ${{ jobs.read-yaml.outputs.aml_workspace }}
    secrets:
      AZURE_CREDENTIALS:
        required: true

permissions:
  contents: read

jobs:
  read-yaml:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      resource_group: ${{ steps.extract.outputs.resource_group }}
      aml_workspace: ${{ steps.extract.outputs.aml_workspace }}
    steps:
      - uses: actions/checkout@v4

      - name: Azure login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Set environment variables
        run: |
          SUBSCRIPTION_ID="${{ fromJSON(secrets.AZURE_CREDENTIALS).subscriptionId }}"
          TENANT_ID="${{ fromJSON(secrets.AZURE_CREDENTIALS).tenantId }}"
          CLIENT_ID="${{ fromJSON(secrets.AZURE_CREDENTIALS).clientId }}"
          CLIENT_SECRET="${{ fromJSON(secrets.AZURE_CREDENTIALS).clientSecret }}"
          echo "::add-mask::$SUBSCRIPTION_ID"
          echo "::add-mask::$TENANT_ID"
          echo "::add-mask::$CLIENT_ID"
          echo "::add-mask::$CLIENT_SECRET"
          echo "AZURE_SUBSCRIPTION_ID=$SUBSCRIPTION_ID" >> $GITHUB_ENV
          echo "AZURE_TENANT_ID=$TENANT_ID" >> $GITHUB_ENV
          echo "AZURE_CLIENT_ID=$CLIENT_ID" >> $GITHUB_ENV
          echo "AZURE_CLIENT_SECRET=$CLIENT_SECRET" >> $GITHUB_ENV

      - name: Update Azure CLI
        run: |
          sudo az upgrade --yes
          az --version
      
      - name: Install yq
        run: |
          sudo apt-get update
          sudo apt-get install -y yq
      
      - id: extract
        run: |
          set -euo pipefail
          content=$(cat ${{ inputs.file_name }})
          echo "resource_group=$(echo \"$content\" | yq '.resource_group')" >> $GITHUB_OUTPUT
          echo "aml_workspace=$(echo \"$content\" | yq '.aml_workspace')" >> $GITHUB_OUTPUT
