name: Train Model

on:
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Azure login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Set environment variables
        run: |
          SUBSCRIPTION_ID="${{ fromJSON(secrets.AZURE_CREDENTIALS).subscriptionId }}"
          TENANT_ID="${{ fromJSON(secrets.AZURE_CREDENTIALS).tenantId }}"
          CLIENT_ID="${{ fromJSON(secrets.AZURE_CREDENTIALS).clientId }}"
          CLIENT_SECRET="${{ fromJSON(secrets.AZURE_CREDENTIALS).clientSecret }}"
          echo "::add-mask::$SUBSCRIPTION_ID"
          echo "::add-mask::$TENANT_ID"
          echo "::add-mask::$CLIENT_ID"
          echo "::add-mask::$CLIENT_SECRET"
          echo "AZURE_SUBSCRIPTION_ID=$SUBSCRIPTION_ID" >> $GITHUB_ENV
          echo "AZURE_TENANT_ID=$TENANT_ID" >> $GITHUB_ENV
          echo "AZURE_CLIENT_ID=$CLIENT_ID" >> $GITHUB_ENV
          echo "AZURE_CLIENT_SECRET=$CLIENT_SECRET" >> $GITHUB_ENV

      - name: Set storage key
        run: |
          echo "AZURE_STORAGE_KEY=${{ secrets.AZURE_STORAGE_KEY }}" >> $GITHUB_ENV

      - name: Submit AML job
        run: |
          az ml job create \
            --file mlops/azureml/train/command_job.yml \
            --resource-group streaming_autovehicle_pricing_MLOPS \
            --workspace-name project_iii_mlops

