name: Train Model

on:
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Create credentials file
        run: |
          mkdir -p mlops/config
          cat > mlops/config/azure_credentials.json << 'EOF'
          {
            "AZURE_SUBSCRIPTION_ID": "${{ fromJSON(secrets.AZURE_CREDENTIALS).subscriptionId }}",
            "RESOURCE_GROUP": "${{ env.RESOURCE_GROUP }}",
            "WORKSPACE_NAME": "${{ env.WORKSPACE_NAME }}",
            "AZURE_CLIENT_ID": "${{ fromJSON(secrets.AZURE_CREDENTIALS).clientId }}",
            "AZURE_CLIENT_SECRET": "${{ fromJSON(secrets.AZURE_CREDENTIALS).clientSecret }}",
            "AZURE_TENANT_ID": "${{ fromJSON(secrets.AZURE_CREDENTIALS).tenantId }}"
          }
          EOF

      - name: Validate Azure Credentials
        run: |
          jq . mlops/config/azure_credentials.json > /dev/null || {
            echo "âŒ Invalid JSON in azure_credentials.json"
            exit 1
          }

      - name: Azure login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Set RG and WS
        run: |
          echo "RESOURCE_GROUP=streaming_autovehicle_pricing_MLOPS" >> $GITHUB_ENV
          echo "WORKSPACE_NAME=project_III_MLOPS" >> $GITHUB_ENV

      - name: Set storage key
        run: |
          echo "AZURE_STORAGE_KEY=${{ secrets.AZURE_STORAGE_KEY }}" >> $GITHUB_ENV

      - name: Submit AML job
        run: |
          az ml job create \
            --file mlops/azureml/train/command_job.yml \
            --resource-group ${{ env.RESOURCE_GROUP }} \
            --workspace-name ${{ env.WORKSPACE_NAME }}

